/* Style général*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

header {
    text-align: left;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* BOUTONS */
.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}
/*curseur sur le bouton*/
.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #495057;
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    color: #444;
    margin-bottom: 15px;
}
